<meta charset="UTF-8" />
<title>Verification message</title>
<style>
  body {
    padding-top: 30px;
  }

  p {
    padding-top: 60px;
    color: red;
    font-size: 34px;
    text-align: center;
  }
</style>
